@import "styles/functions";
@import "styles/variables";

.container {
  width: 100%;
  margin-top: toVW(18);
  .title {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 700;
    font-size: toVW(16);
    line-height: toVW(20);
    color: #151a30;
  }
  .listContainer {
    margin-top: toVW(12);
  }
}
