@font-face {
  font-family: "inter";
  src: url("./fonts/inter.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("./fonts/inter.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("./fonts/inter.ttf");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("./fonts/inter.ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "sf-pro-text";
  src: url("./fonts/sf-pro-text-normal.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf-pro-text";
  src: url("./fonts/sf-pro-text-bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "sf-pro-text";
  src: url("./fonts/sf-pro-text-bolder.otf");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "sf-pro-text";
  src: url("./fonts/sf-pro-text-lighter.otf");
  font-weight: lighter;
  font-style: normal;
}
